<div class="search">
    <form class="add-form" [formGroup]="systemForm" (ngSubmit)="submit()">
        <div class=source-num>
            <label for="source">Source numeral system</label>
            <input type="text" id="source" formControlName="source" (keyup)="onKey($event)" />
            <p class="error-text"
                *ngIf="systemForm.controls['source'].touched && systemForm.controls['source'].invalid || isSubmitted && systemForm.controls['source'].invalid ">
                Choose a number higher than 1</p>
            <p class="error-text"
                *ngIf=" (systemForm.controls['source'].touched && systemForm.controls['aim'].touched) && (systemForm.controls['source'].value ===  systemForm.controls['aim'].value) && ( !!systemForm.controls['source'].value !== false) ">
                Choose different numeral systems</p>
        </div>
        <div class='aim-num'>
            <label for="aim">Target numeral system</label>
            <input type="text" id="aim" formControlName="aim" />
            <p class="error-text"
                *ngIf="systemForm.controls['aim'].touched && systemForm.controls['aim'].invalid || isSubmitted && systemForm.controls['aim'].invalid ">
                Choose a number higher than 1</p>
            <p class="error-text"
                *ngIf=" (systemForm.controls['source'].touched && systemForm.controls['aim'].touched) && (systemForm.controls['source'].value ===  systemForm.controls['aim'].value) && ( !!systemForm.controls['aim'].value !== false)  ">
                Choose different numeral systems</p>
        </div>
        <div class='num-num'>
            <label for="number">Number</label>
            <input type="text" id="number" formControlName="number" />
            <p class="error-text"
                *ngIf="systemForm.controls['number'].touched && systemForm.controls['number'].invalid || isSubmitted && systemForm.controls['number'].invalid">
                Incorrect number or source numeral system</p>
            <p>{{show}}</p>
        </div>
        <button type="submit" [disabled]='systemForm.invalid'>Calculate</button>
    </form>
</div>