.search {
    margin-top: 40px;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: Georgia, serif;
}

button {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    border-style: outset;
    margin-bottom:15px;
}

.source-num{
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
}

.aim-num {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
}

.num-num {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
}

input {
    width: 220px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error-text {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    color: red;
}