<header>
  <h1>Change the numeral system</h1>
</header>
<main>
  <section>
    <app-num-system></app-num-system>
    <router-outlet></router-outlet>
  </section>
</main>
<footer class="footer">
  <img class="footer-img" src="assets/images/Uncle_Sam.jpg" />
  <figcaption class="figcaption">Send me an email at <strong>kamil.koscielski88@gmail.com</strong></figcaption>
</footer>